---
import spotifyIcon from "../../assets/icons/spotify-logo.svg";

const { class: className = "" } = Astro.props;
---

<article
  class:list={[
    "flex size-full flex-col justify-between rounded-4xl bg-white p-6",
    className,
  ]}
  aria-labelledby="spotify-title"
>
  <img src={spotifyIcon.src} alt="" class="size-11" aria-hidden="true" />

  <div>
    <p class="text-xs font-bold leading-none text-black/40">最近再生した曲</p>
    <h2 id="spotify-title" class="mt-2 truncate text-xl font-semibold leading-tight text-black">
      都落ち
    </h2>
    <p class="mt-1 truncate text-xs font-medium leading-tight text-black">ヨルシカ</p>
  </div>
</article>
