---
import AboutCard from "../cards/AboutCard.astro";
import SpotifyCard from "../cards/SpotifyCard.astro";
import BrandCard from "../cards/BrandCard.astro";
import ImageCard from "../cards/ImageCard.astro";
import PodcastCard from "../cards/PodcastCard.astro";
import YouTuberCard from "../cards/YouTuberCard.astro";
import TokushimaContent from "./TokushimaContent.astro";
import PrContent from "./PrContent.astro";
import BentoGrid from "../BentoGrid.astro";
---

<div
  data-grid-root
  class="mx-auto w-full max-w-md px-6 pt-13 sm:max-w-xl lg:max-w-5xl"
>
  <BentoGrid data-grid-view="profile">
    <div class="aspect-[465/228] sm:col-span-2 lg:col-start-1 lg:row-start-1 lg:aspect-auto lg:h-full">
      <AboutCard />
    </div>

    <div class="aspect-square lg:col-start-3 lg:row-start-1">
      <SpotifyCard />
    </div>

    <div class="aspect-square lg:col-start-4 lg:row-start-1">
      <BrandCard />
    </div>

    <div class="aspect-square sm:col-span-2 lg:col-start-1 lg:row-span-2 lg:row-start-2">
      <ImageCard />
    </div>

    <div class="aspect-square lg:col-start-3 lg:row-start-3">
      <YouTuberCard />
    </div>

    <div class="aspect-[486/187] sm:col-span-2 lg:col-start-3 lg:row-start-2 lg:col-span-2 lg:aspect-auto lg:h-full">
      <PodcastCard />
    </div>
  </BentoGrid>

  <div
    data-grid-view="tokushima"
    hidden
  >
    <TokushimaContent />
  </div>

  <div
    data-grid-view="pr"
    hidden
  >
    <PrContent />
  </div>
</div>

<script>
  import { isSectionId } from "../../constants/sections";

  const gridRoot = document.querySelector("[data-grid-root]");
  const gridViews = gridRoot?.querySelectorAll("[data-grid-view]");

  const getActiveGridId = () => {
    const hashId = location.hash.replace("#", "");
    return isSectionId(hashId) ? hashId : "profile";
  };

  const setActiveGrid = () => {
    const activeGridId = getActiveGridId();

    gridViews?.forEach((view) => {
      if (!(view instanceof HTMLElement)) return;
      view.hidden = view.dataset.gridView !== activeGridId;
    });
  };

  setActiveGrid();
  window.addEventListener("hashchange", setActiveGrid);
</script>
