---
import AboutCard from "../cards/AboutCard.astro";
import ImageCard from "../cards/ImageCard.astro";
import FeatureCard from "../cards/FeatureCard.astro";
import WeatherCard from "../cards/WeatherCard.astro";
import awaodoriImage from "../../assets/images/awaodori.jpg";
import museumImage from "../../assets/images/ootuka.jpg";
import yakimochiImage from "../../assets/images/yakimochi.png";
import BentoGrid from "../BentoGrid.astro";
---

<BentoGrid>
  <div
    class="aspect-square sm:col-span-2 lg:col-start-1 lg:row-span-2 lg:row-start-1 lg:aspect-auto lg:h-full"
  >
    <ImageCard
      titleId="awaodori-title"
      label="Awaodori 🕺"
      image={awaodoriImage}
      imageAlt="阿波おどりの様子"
      url="https://ja.wikipedia.org/wiki/阿波踊り"
    />
  </div>

  <div class="aspect-square lg:col-start-3 lg:row-start-1">
    <WeatherCard />
  </div>

  <FeatureCard
    class="lg:col-start-4 lg:row-start-1"
    titleId="yakimochi-title"
    title="滝のやきもち"
    description="美味しい和菓子なので、焼き立てを食べることをおすすめします。"
    image={yakimochiImage}
    imageAlt="滝のやきもち"
  />

  <div class="sm:col-span-2 lg:col-start-1 lg:row-start-3 lg:aspect-auto lg:h-full">
    <AboutCard
      titleId="tokushima-about-title"
      headingTag="h2"
      showImage={false}
      prefix="I live in"
      title="Tokushima."
      suffix=""
      description="正直にいうと徳島は何もないです。でも住みやすい場所ではあると思います。そんな徳島のごくわずかなスポットを集めました。ここに載せていないものだと、お遍路や鳴門の渦潮なんかもありますね。一度訪れてみてください。"
    />
  </div>

  <div
    class="aspect-square sm:col-span-2 lg:col-start-3 lg:row-span-2 lg:row-start-2 lg:aspect-auto lg:h-full"
  >
    <ImageCard
      titleId="museum-title"
      label="大塚国際美術館"
      image={museumImage}
      imageAlt="大塚国際美術館"
      url="https://ja.wikipedia.org/wiki/大塚国際美術館"
    />
  </div>
</BentoGrid>
