---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ProfileContent from "../components/contents/ProfileContent.astro";
---

<Layout>
  <section id="profile" class="min-h-screen bg-page pb-40">
    <Header />
    <ProfileContent />
  </section>
</Layout>
