---
const { class: className = "", ...attrs } = Astro.props;
---

<div
  {...attrs}
  class:list={[
    "grid grid-cols-1 items-start gap-6 sm:grid-cols-2 lg:grid-cols-4 lg:auto-rows-56",
    className,
  ]}
>
  <slot />
</div>
