---
const { class: className = "", ...attrs } = Astro.props;
---

<!-- Bentoの基本Gridを制御 -->
<div
  {...attrs}
  class:list={[
    "grid grid-cols-1 items-start gap-6 sm:grid-cols-[repeat(2,minmax(0,13rem))] lg:grid-cols-[repeat(4,14.5rem)] lg:auto-rows-[14.5rem]",
    className,
  ]}
>
  <slot />
</div>
