---
import ProfileCard from "./card/ProfileCard.astro";
import SpotifyCard from "./card/SpotifyCard.astro";
import GitHubCard from "./card/GitHubCard.astro";
import TokushimaCard from "./card/TokushimaCard.astro";
import PodcastCard from "./card/PodcastCard.astro";
import YouTuberCard from "./card/YouTuberCard.astro";
---

<div
  class="mx-auto grid w-full max-w-md grid-cols-1 items-start gap-6 px-6 pt-13 sm:w-fit sm:max-w-full sm:grid-cols-[repeat(2,minmax(0,13rem))] lg:grid-cols-[repeat(4,14.5rem)] lg:auto-rows-[14.5rem]"
>
  <div class="aspect-[465/228] sm:col-span-2 lg:col-start-1 lg:row-start-1">
    <ProfileCard />
  </div>

  <div class="aspect-square lg:col-start-3 lg:row-start-1">
    <SpotifyCard />
  </div>

  <div class="aspect-square lg:col-start-4 lg:row-start-1">
    <GitHubCard />
  </div>

  <div class="aspect-square sm:col-span-2 lg:col-start-1 lg:row-span-2 lg:row-start-2">
    <TokushimaCard />
  </div>

  <div class="aspect-square lg:col-start-3 lg:row-start-3">
    <YouTuberCard />
  </div>

  <div class="aspect-[486/187] sm:col-span-2 lg:col-start-3 lg:row-start-2 lg:col-span-2 lg:aspect-auto lg:h-full">
    <PodcastCard />
  </div>
</div>
