---
import Header from "../Header.astro";
import ProfileCard from "../card/ProfileCard.astro";
import SpotifyCard from "../card/SpotifyCard.astro";
---

<section id="profile" class="min-h-screen bg-[#f5f0f0]">
  <Header />

  <div
    class="mx-auto grid w-full max-w-md grid-cols-1 gap-5 px-6 pt-10 sm:w-fit sm:max-w-full sm:grid-cols-[repeat(2,minmax(0,13rem))] lg:grid-cols-[repeat(3,14.5rem)] lg:auto-rows-[14.5rem]"
  >
    <ProfileCard class="sm:col-span-2 lg:h-full" />
    <SpotifyCard class="lg:h-full" />
  </div>
</section>
