---
import "../style/global.css"
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>shuntaroの自己紹介サイト</title>
  </head>
  <body class="bg-white">
    <main class="min-h-screen">
      <slot />
    </main>
  </body>
</html>
